<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
  <key>section-0001.html</key>
  <string>内封面</string>
  <key>section-0002.html</key>
  <string>版权信息</string>
  <key>section-0003.html</key>
  <string>序</string>
  <key>section-0004.html</key>
  <string>致谢</string>
  <key>section-0005.html</key>
  <string>第一章帮主归来──天下只有一个乔布斯</string>
  <key>section-0006.html</key>
  <string>独立日</string>
  <key>section-0007.html</key>
  <string>回归还是放弃</string>
  <key>section-0008.html</key>
  <string>给我90天时间</string>
  <key>section-0009.html</key>
  <string>假如历史是场赌局</string>
  <key>section-0010.html</key>
  <string>成功之谜</string>
  <key>section-0011.html</key>
  <string>第二章苹果双雄──两个史蒂夫撬动了地球</string>
  <key>section-0012.html</key>
  <string>苹果之前的电脑长什么样</string>
  <key>section-0013.html</key>
  <string>两个史蒂夫</string>
  <key>section-0014.html</key>
  <string>双雄会</string>
  <key>section-0015.html</key>
  <string>有追求的嬉皮士</string>
  <key>section-0016.html</key>
  <string>打砖墙骗局</string>
  <key>section-0017.html</key>
  <string>自制电脑俱乐部</string>
  <key>section-0018.html</key>
  <string>苹果诞生记</string>
  <key>section-0019.html</key>
  <string>Apple II传奇</string>
  <key>section-0020.html</key>
  <string>关于沃兹</string>
  <key>section-0021.html</key>
  <string>第三章末日危机──被放逐的乔帮主</string>
  <key>section-0022.html</key>
  <string>卖糖水还是改变世界</string>
  <key>section-0023.html</key>
  <string>创始人与CEO</string>
  <key>section-0024.html</key>
  <string>从Lisa到Macintosh</string>
  <key>section-0025.html</key>
  <string>活力二人组</string>
  <key>section-0026.html</key>
  <string>危机降临</string>
  <key>section-0027.html</key>
  <string>都结束了</string>
  <key>section-0028.html</key>
  <string>奥德赛</string>
  <key>section-0029.html</key>
  <string>第四章生命「下一站」──NeXT的漂泊与奋斗</string>
  <key>section-0030.html</key>
  <string>贵客到访</string>
  <key>section-0031.html</key>
  <string>NeXT反击战</string>
  <key>section-0032.html</key>
  <string>文化重建</string>
  <key>section-0033.html</key>
  <string>崩溃边缘</string>
  <key>section-0034.html</key>
  <string>来自苹果的邀请</string>
  <key>section-0035.html</key>
  <string>败亦伟大</string>
  <key>section-0036.html</key>
  <string>第五章动画总动员──皮克斯的前世今生</string>
  <key>section-0037.html</key>
  <string>「星战之父」的烦恼</string>
  <key>section-0038.html</key>
  <string>动画双雄</string>
  <key>section-0039.html</key>
  <string>又一个深渊</string>
  <key>section-0040.html</key>
  <string>玩具突围</string>
  <key>section-0041.html</key>
  <string>目标迪士尼</string>
  <key>section-0042.html</key>
  <string>第六章凤凰涅槃──只有乔帮主能救苹果</string>
  <key>section-0043.html</key>
  <string>濒临绝境</string>
  <key>section-0044.html</key>
  <string>四格战略</string>
  <key>section-0045.html</key>
  <string>断腕求生</string>
  <key>section-0046.html</key>
  <string>重建水果帮</string>
  <key>section-0047.html</key>
  <string>克隆战争</string>
  <key>section-0048.html</key>
  <string>一笑泯恩仇</string>
  <key>section-0049.html</key>
  <string>只有乔帮主能救苹果</string>
  <key>section-0050.html</key>
  <string>第七章不酷就去死──乔帮主的非凡设计</string>
  <key>section-0051.html</key>
  <string>大师艾维</string>
  <key>section-0052.html</key>
  <string>颜色革命</string>
  <key>section-0053.html</key>
  <string>当电脑成为时尚</string>
  <key>section-0054.html</key>
  <string>音乐传奇</string>
  <key>section-0055.html</key>
  <string>可以触摸的玻璃</string>
  <key>section-0056.html</key>
  <string>模式之争</string>
  <key>section-0057.html</key>
  <string>第八章不同凡「想」──乔帮主的创新法则</string>
  <key>section-0058.html</key>
  <string>我就是未来</string>
  <key>section-0059.html</key>
  <string>用户友好</string>
  <key>section-0060.html</key>
  <string>完美主义</string>
  <key>section-0061.html</key>
  <string>减法艺术</string>
  <key>section-0062.html</key>
  <string>细节，还是细节</string>
  <key>section-0063.html</key>
  <string>不同凡「想」的创意营销</string>
  <key>section-0064.html</key>
  <string>品牌无价</string>
  <key>section-0065.html</key>
  <string>第九章黑与白──乔帮主的另类管理</string>
  <key>section-0066.html</key>
  <string>「所有故事都是真的」</string>
  <key>section-0067.html</key>
  <string>暴君还是明主</string>
  <key>section-0068.html</key>
  <string>海盗团队</string>
  <key>section-0069.html</key>
  <string>不是天才就是笨蛋</string>
  <key>section-0070.html</key>
  <string>从勤杂工到副总裁</string>
  <key>section-0071.html</key>
  <string>企业文化</string>
  <key>section-0072.html</key>
  <string>第十章生命是脆弱的──乔帮主的生死禅机</string>
  <key>section-0073.html</key>
  <string>死亡通牒</string>
  <key>section-0074.html</key>
  <string>嬉皮士还是苦行僧</string>
  <key>section-0075.html</key>
  <string>一个凡人</string>
  <key>section-0076.html</key>
  <string>乔帮主没有接班人</string>
  <key>section-0077.html</key>
  <string>附录一：乔布斯年表</string>
  <key>section-0078.html</key>
  <string>附录二：乔布斯语录</string>  
  </dict>
</plist>
