<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
  <key>section_0001.txt</key>
  <string>第一章 四太太颂莲</string>
  <key>section_0002.txt</key>
  <string>第二章 死人井</string>
  <key>section_0003.txt</key>
  <string>第三章 二太太卓云</string>
  <key>section_0004.txt</key>
  <string>第四章 五十大寿</string>
  <key>section_0005.txt</key>
  <string>第五章 陈飞浦</string>
  <key>section_0006.txt</key>
  <string>第六章 三太太梅珊</string>
  <key>section_0007.txt</key>
  <string>第七章 雁儿</string>
  <key>section_0008.txt</key>
  <string>第八章 颂莲說她不投井</string>
  </dict>
</plist>
